@font-face {
  font-family: "contact";
  src: url("./assets/fonts/SCDream3.ttf"), url("./assets/fonts/SCDream3.woff");
  unicode-range: U+0041-005A, U+0061-007A, U+0030-0039, U+0020-002F, U+003A-0040,
    U+005B-0060, U+007B-007E;
}

@font-face {
  font-family: "content";
  src: url("./assets/fonts/SCDream3.ttf"), url("./assets/fonts/SCDream3.woff");
  unicode-range: U+AC00-D7A3;
}

@font-face {
  font-family: "contentBold";
  src: url("./assets/fonts/SCDream7.ttf"), url("./assets/fonts/SCDream7.woff");
  unicode-range: U+AC00-D7A3, U+0041-005A, U+0061-007A;
}

@font-face {
  font-family: "titleEn";
  src: url("./assets/fonts/THEBOLDFONT.ttf"),
    url("./assets/fonts/THEBOLDFONT.woff");
  unicode-range: U+0041-005A, U+0061-007A;
}
